<div>
  <label id="manufacturer-label">Fabricante</label>
</div>

<p-multiSelect [options]="manufacturersList?.content || []" placeholder="Selecione os fabricantes..."
  [maxSelectedLabels]="1" filterBy="name,id" class="full-width fabricanteSelect" optionLabel="name"
  [selectedItemsLabel]="'{0} fabricantes selecionados'" id="category-dropdown" [filter]=true [formControl]="control"
  [virtualScroll]="true" [itemSize]="20">
</p-multiSelect>
<ng-template let-option pTemplate="item">
  <div class="option-item" id="supplier-option">
    <div>{{option.id}} - {{option.name}}</div>
  </div>
</ng-template>
<div class="small-card" *ngIf="supplierSelected.length > 0">
  <small id="category-dropdown-hint">Mostrando somente fabricantes disponíveis para os fornecedores
    {{supplierSelected}}. <strong (click)="clearManufacturers()" id="supplier-dropdown-hint-clear-action"
      class="small-manufacturer">Limpar fornecedores</strong></small>
</div>