<div class="modal-error-page">
    <div class="row justify-content-center">
      <div class="col-10 col-sm-10 col-lg-12 col-xl-12">
          <button (click)="back()" class="back-button p-button-rounded p-button-text p-button-secondary" pButton icon="pi pi-arrow-left">
          </button>
        <a (click)="back()">
          <img class="logo-login" alt="RD" src="./assets/imgs/logo_rd.svg" width="25%">
        </a>
        <h2 class="subtitle login">Ops...
          <div><span>Parece que você não tem permissão para acessar essa pagina. Contate o seu superior para solicitar as permissões correspondentes.</span></div>
        </h2>
      </div>
    </div>
  </div>