<div class="p-d-flex p-flex-column p-ml-1" (click)="showModal()">

    <div class="p-d-flex">
      <em class="pi pi-pencil"></em>
      <div class="p-text p-filter-text p-ml-1">Produtos</div>
    </div>
  
    <div class="p-text hint-text" id="current-product-selected">
      <div *ngIf="!!(control.value?.length); else noproduct">
        <span id="product-selected">{{control.value.length}} produtos selecionados</span>
      </div>
      <ng-template #noproduct>
        Nenhum produto selecionado
      </ng-template>
    </div>
  
  </div>
  
  <p-dialog id="product-dialog" [(visible)]="displayModal" position="top"
    [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
      <div class="p-grid ">
        <div class="p-col-12 rd-dialog-title">Filtrar produto</div>
        <div class="p-col-12 rd-dialog-subtitle">Pesquise por nome, código do produto ou insira uma lista de códigos separados por " ; " (ponto e vírgula)
        </div>

        <div class="p-grid full-width">
          <div class="p-col-12 p-d-flex p-flex-column full-width">
              <label id="product-label" class="label">Produto</label>
              <p-autoComplete id="product-select" (onSelect)="selected()" [formControl]="filterControl" placeholder="Selecione os produtos..."
              [suggestions]="(products$ | async) || []" (completeMethod)="getProducts($event)" [multiple]="false" field="name">
              </p-autoComplete>
              <small *ngIf="(separatorErrorList$ | async)?.length"  class="p-error p-pl-3">{{errors | async}}</small>
          </div>
      </div>
      </div>
    </ng-template>
  
    
    <div class="p-grid">
      <div *ngIf="!(productsControl.value?.length);else hasItems" class="empty-filter text-center full-width">
        Nenhum produto selecionado
      </div>
      <ng-template #hasItems>
      <div class="p-col-12 p-d-flex p-flex-column full-width">
          <table aria-describedby="lista de produtos selecionados">
            <thead>
              <th scope="th_product_id" class="text-left">Cod.</th>
              <th scope="th_product_name" class="text-left">Produto</th>
              <th scope="th_product_action" class="text-end">Ações</th>
            </thead>
            <tbody>
              <tr *ngFor="let item of productsControl.value || []">
                <td class="text-left">{{item.id}}</td>
                <td>{{item.name}}</td>
                <td id="action-cell" class="text-end">   
                  <button (click)="removeProduct(item)" id="remove-button" class="btn-modal p-button-danger p-button-rounded" pButton type="button" icon="pi pi-times"
                  iconPos="left"></button>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </ng-template>
    </div>
  
    <p-footer>
      <div class="p-d-flex p-jc-end button-grid p-mr-3">
        <button pButton pRipple type="button" (click)="closeModal()" label="Cancelar"
          class="btn btn-close p-button-rounded p-button-danger" id="product-modal-close"></button>
        <button pButton pRipple type="button" (click)="save()" label="Salvar" class="btn btn-save p-button-success p-button-rounded"
          id="product-modal-save"></button>
      </div>
    </p-footer>
  
  </p-dialog>
  