:host::ng-deep.p-multiselect {
  /*     width: 100%;
    margin-top: 4px; */
  width: 20rem;
  background-color: #ffffff;
  border: 1px solid #b3b3b3;
  box-sizing: border-box;
  border-radius: 6px;
}

:host::ng-deep.p-multiselect.p-component {
  border-radius: 8px;
  margin-top: 4px;
  width: 100%;
}

.label {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin: 6px 8px;
}
