.p-panelmenu-header-link {
    border: none;
    background: none;
}
.p-panelmenu .p-panelmenu-header {
    background: none;
}
.p-panelmenu .p-panelmenu-header:not(.p-highlight):not(.p-disabled) > a {
    background: none;
    border: none;
}
.p-panelmenu .p-panelmenu-header.p-highlight > a {
    background: none;
    border: none;
}
.p-panelmenu .p-panelmenu-header:not(.p-highlight):not(.p-disabled) > a:hover {
    background: none;
    border: none;
}
.p-panelmenu-content {
    background: none;
    border: none;
}
.p-panelmenu .p-panelmenu-content {
    border: none;
}
.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:focus {
    box-shadow: 0px 0px 4px -1px var(--green-300);

}
.p-panelmenu .p-panelmenu-header > a:focus {
    box-shadow: 0px 0px 4px -1px var(--green-300);

}