/**
Insert any theme related css code here
*/

.text-left {
    text-align: left;
}


.text-right {
    text-align: right;
}


.text-center {
    text-align: center;
}

.empty-filter {
    padding: 24px;
    font-size: 16px;
    color: #989898;
    font-weight: bold;
    text-align: center;
}

.bold {
    font-weight: bold;
}