/*
Estilos relacionados ao componente de produto
*/
:host::ng-deep.p-autocomplete {
  width: 100%;
  margin-top: 4px;
  & > .p-component {
    width: 100%;
  }
}

:host::ng-deep.p-autocomplete-multiple-container.p-component.p-inputtext {
  max-height: 80px;
  overflow-y: scroll;
}