.th-grid {
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: #4f4f4f;
}

.td-grid {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

.detailing {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  color: #00a67e;
  cursor: pointer;
}

.pi-external-link {
  height: 12px;
  width: 12px;
  border-radius: 0px;
  color: #00a67e;
  cursor: pointer;
  margin-top: 10px;
}

.btn {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  border-radius: 20px;
}
